<div
  tuiCardLarge
  tuiSurface="elevated"
>
  <h3 class="tui-text_h5">
    {{ addressNeed.title }}
  </h3>
  <p>
    {{ addressNeed.address }}
  </p>
  <div class="grid grid-cols-4 gap-1.5">
    <tui-island
      class="text-center border-solid"
      style="border-width: 1px"
      *ngFor="let bloodType of bloodTypes"
      [ngClass]="{
        'text-red-500 bg-red-100 border-red-500': !checkBloodTypeNeeded(bloodType, addressNeed),
        'text-green-500 bg-green-100 border-green-500': checkBloodTypeNeeded(bloodType, addressNeed),
      }"
    >
      {{ bloodType }}
    </tui-island>
  </div>
  <div class="flex justify-between">
    <div class="flex justify-between items-center gap-2">
      <div
        class="w-5 h-5 rounded-md border-green-500 border-solid bg-green-100"
        style="border-width: 1px"
      >
      </div>
      <span>
        Требуется
      </span>
    </div>

    <div class="flex justify-between items-center gap-2">
      <div
        class="w-5 h-5 rounded-md border-red-500 border-solid bg-red-100"
        style="border-width: 1px"
      >
      </div>
      <span>
        Достаточно
      </span>
    </div>
  </div>
  <button
    tuiButton
    type="button"
    icon="tuiIconArrowUpRight"
    (click)="enrollForDonation()"
  >
    Записаться
  </button>
</div>
