<div class="flex flex-col gap-5">
  <div
    tuiCardLarge
    tuiSurface="elevated"
  >
    <form class="form" [formGroup]="needsFilterForm">
      <div class="tui-form__row tui-form__row_multi-fields w-full">
        <div class="tui-form__multi-field">
          <label>
            <tui-select
              formControlName="bloodType"
            >
              Группа крови
              <tui-data-list-wrapper
                *tuiDataList
                [items]="bloodTypes"
              />
            </tui-select>
          </label>
        </div>
        <div class="tui-form__multi-field">
          <label>
            <tui-combo-box
              formControlName="city"
              [tuiTextfieldLabelOutside]="true"
            >
              Город

              <tui-data-list-wrapper
                emptyContent="Ничего не найдено"
                *tuiDataList
                [items]="cities"
              >
              </tui-data-list-wrapper>
            </tui-combo-box>
          </label>
        </div>
      </div>
    </form>
  </div>

  <app-address-needs-card
    *ngFor="let addressNeed of addressNeeds$ | async"
    [addressNeed]="addressNeed"
  />
</div>
