<table class="points-table table" tuiTable>
  <thead >
  <tr tuiThGroup>
    <th tuiTh [resizable]="true">X</th>
    <th tuiTh [resizable]="true">Y</th>
    <th tuiTh [resizable]="true">R</th>
    <th tuiTh [resizable]="true">Попал</th>
    <th tuiTh [resizable]="true">Дата</th>
  </tr>

  </thead>
  <tbody tuiTbody>
  <tr *ngFor="let point of points" tuiTr>
    <td tuiTd>{{ point.x }}</td>
    <td tuiTd>{{ point.y }}</td>
    <td tuiTd>{{ point.r }}</td>
    <td tuiTd>{{ point.hit ? 'Да' : 'Нет' }}</td>
    <td tuiTd>{{ point.created | date }}</td>
  </tr>
  </tbody>
</table>
