<h3 class="tui-form__header">Выберите тип донации</h3>
<form class="group" [formGroup]="bloodTypeForm">
  <div
    tuiGroup
    class="group align-middle"
    orientation="vertical"
    [collapsed]="true">
    <tui-radio-block
      *ngFor="let type of bloodTypes"
      contentAlign="right"
      formControlName="bloodType"
      size="l"
      [hideRadio]="true"
      [item]="type">
      {{type}}
    </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Планируемая дата</h3>
<form class="b-form"
      [formGroup]="donationDateForm"
      [tuiTextfieldCleaner]="true">
  <tui-input-date
    formControlName="donationDate"
    tuiUnfinishedValidator="Заполните дату полностью">
    Укажите дату
  </tui-input-date>

  <tui-error
    formControlName="donationDate"
    [error]="[] | tuiFieldError | async">

  </tui-error>
</form>

<h3 class="tui-form__header">Тип донации</h3>
<form class="control" [formGroup]="donationTypeForm">
  <div class="flex">

    <tui-radio-block
      formControlName="donationType"
      item="donationType1"
      size="l"

    >
      <div class="inner">
        Безвозмездно
        <div class="text">
          Питание или компенсация питания (5% МРОТ порядка 700-1500 ₽.
          Учитывается при получении звания Почетного донора.)
        </div>
      </div>
    </tui-radio-block>

    <tui-radio-block
      formControlName="donationType"
      item="donationType2"
      size="l"

    >
      <div class="inner">
        Платно
        <div class="text">
          Деньги или социальная поддержка. Не учитывается при получении звания почетного донора
        </div>
      </div>
    </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Место сдачи</h3>
<form class="control" [formGroup]="placeForm">
  <div class="flex">

    <tui-radio-block
      formControlName="place"
      item="place1"
      size="l"
    >
      <div class="inner">
        Стационарный пункт
        <div class="text">
          Центр крови или станция переливания в вашем городе
        </div>
      </div>
    </tui-radio-block>

    <tui-radio-block
      formControlName="place"
      item="place2"
      size="l"
    >
      <div class="inner">
        Выездная акция
        <div class="text">
          Деньги или социальная поддержка. Не учитывается при получении звания почетного донора
        </div>
      </div>
    </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Город</h3>
<label>
  <tui-combo-box
    [formControl]="cityControl"
    [tuiTextfieldLabelOutside]="true"
  >
    Выберите город

    <tui-data-list-wrapper
      *tuiDataList
      [items]="simpleCities"
      emptyContent="Ничего не найдено"
    >
    </tui-data-list-wrapper>
  </tui-combo-box>
</label>

<h3 class="tui-form__header">Центр крови</h3>
<label tuiLabel="Важно: если ваш центр крови принимает по записи, то нужно
    отдельно записаться на сайте центра крови или через Госуслуги.
    Планирование донации на сайте DonorSearch позволит нам за 3 дня
    до указанной даты напомнить о вашем намерении совершить донацию и подготовиться к ней.">
  <tui-combo-box
    [formControl]="stationControl"
    [tuiTextfieldLabelOutside]="true"
  >
    Выберите центр крови

    <tui-data-list-wrapper
      *tuiDataList
      [items]="stationsHeaders"
      emptyContent="Ничего не найдено"
    ></tui-data-list-wrapper>
  </tui-combo-box>
</label>


<div class="flex">
  <button
    tuiButton
    type="submit"
    class="mt-4"
    (click)="submitForm()">
    Напомнить о донации
  </button>

  <tui-avatar
    class="ml-4 mt-3"
    size="l"
    text="!"
    tuiHintAppearance="onLight"
    tuiHintDirection="right"
    [autoColor]="true"
    [rounded]="true"
    [tuiHint]="tooltip"
  >
  </tui-avatar>
  <ng-template #tooltip>
    <div>Планирование не означает</div>
    <div> запись на донацию в</div>
    <div> центр крови</div>
  </ng-template>
</div>


