<h2 class="tui-text_h3">Добавление донации</h2>

<h3 class="tui-form__header">Выберите тип донации</h3>
<form class="group" [formGroup]="bloodTypeForm">
  <div
    tuiGroup
    class="group"
    [collapsed]="true">
    <tui-radio-block
      *ngFor="let type of bloodTypes"
      contentAlign="right"
      formControlName="bloodType"
      size="l"
      [hideRadio]="true"
      [item]="type">
      {{type}}
    </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Дата донации</h3>
<form class="b-form"
      [formGroup]="donationDateForm"
      [tuiTextfieldCleaner]="true">
  <tui-input-date
    formControlName="donationDate"
    tuiUnfinishedValidator="Заполните дату полностью">
    Укажите дату
  </tui-input-date>

  <tui-error
    formControlName="donationDate"
    [error]="[] | tuiFieldError | async">

  </tui-error>
</form>

<h3 class="tui-form__header">Тип донации</h3>
<form class="control" [formGroup]="donationTypeForm">
  <div class="flex">

      <tui-radio-block
        formControlName="donationType"
        item="donationType1"
        size="l"
        class="mr-4"
      >
        <div class="inner">
          Безвозмездно
          <div class="text">
            Питание или компенсация питания (5% МРОТ порядка 700-1500 ₽.
            Учитывается при получении звания Почетного донора.)
          </div>
        </div>
      </tui-radio-block>

      <tui-radio-block
        formControlName="donationType"
        item="donationType2"
        size="l"
        class="mr-4"
      >
        <div class="inner">
          Платно
          <div class="text">
            Деньги или социальная поддержка. Не учитывается при получении звания почетного донора
          </div>
        </div>
      </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Место сдачи</h3>
<form class="control" [formGroup]="placeForm">
  <div class="flex">

    <tui-radio-block
      formControlName="place"
      item="place1"
      size="l"
      class="mr-4"
    >
      <div class="inner">
        Стационарный пункт
        <div class="text">
          Центр крови или станция переливания в вашем городе
        </div>
      </div>
    </tui-radio-block>

    <tui-radio-block
      formControlName="place"
      item="place2"
      size="l"
      class="mr-4"
    >
      <div class="inner">
        Выездная акция
        <div class="text">
          Деньги или социальная поддержка. Не учитывается при получении звания почетного донора
        </div>
      </div>
    </tui-radio-block>
  </div>
</form>

<h3 class="tui-form__header">Город</h3>
  <label>
    <tui-combo-box
      [formControl]="cityControl"
      [tuiTextfieldLabelOutside]="true"
    >
      Выберите город

      <tui-data-list-wrapper
        *tuiDataList
        [items]="cities"
      ></tui-data-list-wrapper>
    </tui-combo-box>
  </label>


<h3 class="tui-form__header">Справка</h3>
<form class="control" [formGroup]="certificateForm">
  <div class="flex">

    <tui-radio-block
      formControlName="certificate"
      item="cert1"
      size="l"
      class="mr-4"
    >
      <div class="inner">
        Загрузить сейчас
        <div class="text">
          Справку выданную в центре крови.
        </div>
      </div>
    </tui-radio-block>

    <tui-radio-block
      formControlName="certificate"
      item="cert2"
      size="l"
      class="mr-4"
    >
      <div class="inner">
        Загрузить потом
        <div class="text">
          Справку можно будет загрузить позже. Донация без справки не будет учитываться для пути почетного донора.        </div>
      </div>
    </tui-radio-block>
  </div>
</form>

<tui-input-files
  *ngIf="!control.value && needCert"
  accept="image/*"
  [formControl]="control"
  (reject)="onReject($event)"
  class="mt-4"
  link="Выберите"
  label="или перетащите файл"
></tui-input-files>

<tui-files class="tui-space_top-1">
  <tui-file
    *ngIf="loadedFiles$ | async as file"
    [file]="file"
    [showDelete]="control.enabled"
    (removed)="removeFile()"
  ></tui-file>

  <tui-file
    *ngIf="rejectedFiles$ | async as file"
    state="error"
    [file]="file"
    [showDelete]="control.enabled"
    (removed)="clearRejected()"
  ></tui-file>

  <tui-file
    *ngIf="loadingFiles$ | async as file"
    state="loading"
    [file]="file"
    [showDelete]="control.enabled"
  ></tui-file>
</tui-files>

<button
  tuiButton
  type="submit"
  class="mt-4"
  (click)="submitForm()">
  Сохранить донацию
</button>
