<div class="flex justify-between items-center border-b-2 border-gray-300 border-solid pb-5">
  <div class="flex justify-between items-center gap-5">
    <tui-avatar
      [text]="currentUser?.firstName ?? 'user'"
      [rounded]="true"
      size="l"
    />
    <h1 class="tui-text_h5">{{ currentUser?.firstName ?? 'user' }}</h1>
  </div>
  <button
    tuiIconButton
    appearance="icon"
    icon="tuiIconMoreVerticalLarge"
    type="button"
    routerLink="/profile"
  >
  </button>
</div>

<div class="border-b-2 border-gray-300 border-solid pb-5 pt-5">
  <div class="flex justify-between items-center w-full">
    <h2 class="tui-text_h5">Центры крови</h2>
    <a
      icon="tuiIconChevronRight"
      tuiLink
      routerLink="/address-needs"
    >
      подробнее
    </a>
  </div>
  <div class="mt-5">
    <tui-input [formControl]="bloodCenterSearchControl">
      Поиск
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  </div>
  <div class="mt-5 flex flex-col gap-3">
    <tui-carousel
      class="w-full p-0"
      [draggable]="true"
      [itemsCount]="1"
      [(index)]="bloodCenterIndex"
      [style.--tui-carousel-padding]="0"
    >
      <ng-container
        *ngFor="let addressNeed of addressNeeds$ | async"
      >
        <app-address-needs-card
          *tuiItem
          [addressNeed]="addressNeed"
        />
      </ng-container>
    </tui-carousel>
    <tui-pagination
      size="s"
      class="pagination"
      [length]="(addressNeeds$ | async)?.length ?? 0"
      [(index)]="bloodCenterIndex"
    />
  </div>
</div>

<button
  tuiButton
  type="button"
  (click)="goToDonations()">
  Debug
</button>
<button
  tuiButton
  type="button"
  class="tui-space_top-3"
  (click)="onLogout()">Выйти
</button>

