<div class="flex justify-between items-center border-b-2 border-gray-300 border-solid pb-5">
  <div class="flex justify-between items-center gap-5">
    <tui-avatar
      [text]="currentUser?.firstName ?? 'user'"
      [rounded]="true"
      size="l"
    />
    <h1 class="tui-text_h5">{{ currentUser?.firstName ?? 'user' }}</h1>
  </div>
  <button
    tuiIconButton
    appearance="icon"
    icon="tuiIconMoreVerticalLarge"
    type="button"
    routerLink="/profile"
  >
  </button>
</div>

<div class="border-b-2 border-gray-300 border-solid pb-5 pt-5">
  <div class="flex justify-between items-center w-full">
    <h2 class="tui-text_h5">12 донаций</h2>
    <a
      icon="tuiIconChevronRight"
      tuiLink
      routerLink="/my-donations"
    >
      подробнее
    </a>
  </div>
  <div
    class="mt-5"
    tuiCardLarge
    tuiSurface="elevated"
  >
    <p class="tui-text_body-l font-bold">Сб, 2 марта – донация запланирована</p>
    <p>Городская станция переливания крови Санкт-Петербурга, Московский пр-т, 104Х</p>
    <div class="flex gap-5">
      <button
        appearance="outline-success"
        tuiButton
        type="button"
        size="m"
      >
        Изменить
      </button>
      <button
        appearance="outline-danger"
        tuiButton
        type="button"
        size="m"
      >
        Отменить
      </button>
    </div>
  </div>

  <button
    class="w-full mt-5"
    tuiButton
    icon="tuiIconPlusCircleLarge"
    routerLink="/donations"
  >
    Добавить донацию
  </button>
  <button
    class="w-full mt-3"
    tuiButton
    icon="tuiIconCalendarLarge"
    routerLink="/plan-donation"
  >
    Запланировать донацию
  </button>
</div>

<div class="border-b-2 border-gray-300 border-solid pb-5 pt-5">
  <div class="flex justify-between items-center w-full">
    <h2 class="tui-text_h5">Центры крови</h2>
    <a
      icon="tuiIconChevronRight"
      tuiLink
      routerLink="/address-needs"
    >
      подробнее
    </a>
  </div>
  <div class="mt-5">
    <tui-input [formControl]="bloodCenterSearchControl">
      Поиск
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  </div>
  <div class="mt-5 flex flex-col gap-3">
    <tui-carousel
      class="w-full p-0"
      [draggable]="true"
      [itemsCount]="1"
      [(index)]="bloodCenterIndex"
      [style.--tui-carousel-padding]="0"
    >
      <ng-container
        *ngFor="let addressNeed of addressNeeds$ | async"
      >
        <app-address-needs-card
          *tuiItem
          [addressNeed]="addressNeed"
        />
      </ng-container>
    </tui-carousel>
    <tui-pagination
      size="s"
      class="pagination"
      [length]="(addressNeeds$ | async)?.length ?? 0"
      [(index)]="bloodCenterIndex"
    />
  </div>
</div>

<app-bonuses></app-bonuses>
