<h3 class="tui-text_h3">Бонусы</h3>


<div class="container">
  <div *ngFor="let bonus of bonuses">
      <tui-island>
        <div [class.disabled-component]="bonus.taken">

        <img
          alt="bonus_img"
          class="image"
          [src]="bonus.bonusImage"
        />
        <h3 class="title title_size_s">{{bonus.bonusName}}</h3>

        <div style="display: flex; flex-direction: row">
          <tui-avatar
            class="mr-3"
            [avatarUrl]="bonus.partnerImage"
          ></tui-avatar>

          <p class="text">
            до {{bonus.expiration}}
          </p>
        </div>

        <button
          *ngIf="!bonus.taken"
          size="l"
          tuiButton
          type="button"
          (click)="claimBonus(bonus, 'Бонус собран')"
          [disabled]="bonus.taken"
          >
          Собрать

        </button>

        </div>

        <h4 *ngIf="bonus.taken">Ваш промокод: PISKA228</h4>

      </tui-island>

</div>
</div>
