<div
  *ngFor="let donation of userDonations$ | async"
  tuiCardLarge
  tuiSurface="elevated"
>
  <div class="flex justify-between items-center">
    <div class="flex gap-5">
      <tui-icon
        icon="tuiIconCalendarLarge"
        [style.color]="'var(--tui-primary)'"
      />
      <p class="text-gray-500">{{ donation.donateAt }}</p>
    </div>
    <div class="flex">
      <button
        appearance="icon"
        tuiIconButton
        icon="tuiIconEditLarge"
      >
      </button>
      <button
        appearance="icon"
        tuiIconButton
        icon="tuiIconCloseLarge"
      >
      </button>
    </div>
  </div>
  <div>
    <p>{{ donation.bloodStation.title }}</p>
    <p class="text-gray-500">{{ donation.bloodStation.address }}</p>
  </div>
  <div class="text-gray-500 flex flex-row gap-5">
    <img src="/assets/icons/blood.svg"/>
    <p>{{ donation.bloodClass }}</p>
  </div>
</div>

<button
  class="w-full mt-5"
  tuiButton
  icon="tuiIconPlusCircleLarge"
  routerLink="/donations"
>
  Добавить донацию
</button>
<button
  class="w-full mt-3"
  tuiButton
  icon="tuiIconCalendarLarge"
  routerLink="/plan-donation"
>
  Запланировать донацию
</button>
